<div class="rleted_inner full_container">
    <div class="relted_heading_con full_container f_Container">
        <div class="r-heading"><h2>अन्य लोकप्रिय उत्तर</h2></div>
        <div class="view_more_ans">
                <a href="">और देखें</a>
        </div>
    </div>
    <div class="answer_list full_container">
        <ul class="related_info">
            <li><a href="">
                <img src="./assets/images/related_ans_pro.png" alt="" class="img-con">
                <span><img src="./assets/images/play-button.png"/></span>
                <label for="">Abhishek</label>
            </a>
       
        </li>
            <li><a href="">
                    <img src="./assets/images/related_ans_pro.png" alt="" class="img-con">
                    <span><img src="./assets/images/play-button.png"/></span>
                    <label for="">Abhishek</label>
                </a>
           
            </li>
                <li><a href="">
                        <img src="./assets/images/related_ans_pro.png" alt="" class="img-con">
                        <span><img src="./assets/images/play-button.png"/></span>
                        <label for="">Abhishek</label>
                    </a>
                
                </li>
             <li><a href="">
                <img src="./assets/images/related_ans_pro.png" alt="" class="img-con">
                <span><img src="./assets/images/play-button.png"/></span>
                <label for="">Abhishek</label>
            </a>
     
        </li>
        </ul>
    </div>
</div>