<div class="full_container">
    <div class="full_container f_Container flex_between white_bg top_header_con">
        <div class="logon_profile_con f_Container">
            <div class="profile_con">
                <span>
                    <img src="../../assets/images/profile_pic.png" alt="" class="img_comm_po">
                </span>
            </div>
            <div class="logo_container">
                <a href="/"><img src="../../assets/images/logo.png" alt=""></a>
            </div>
        </div>
        <div class="box1 f_Container">
            <div class="seacrh_icon">
                <img src="../../assets/images/search_ico.png" alt="">
            </div>
            <div class="seacrh_icon">
                <img src="../../assets/images/waap_ico.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="tab_container f_Container">
        <div class="my_mune_tab">
         <ul class="top_menu">
             <li><a routerLink = "/" class="active_tab">लोकप्रिय</a></li>
             <li><a routerLink= "newquestion">नया सवाल</a></li>
         </ul>
        </div>
        
     </div>