<div class="comment_inner_listing full_container">
    <div class="comment_heading">
        <h2><label for="">13</label>टिप्पणी</h2>
    </div>
    <div class="comment_listing_c full_container f_Container">
        <div class="commen_pro">
            <img src="./assets/images/comment_pro.png"/>
        </div>
        <div class="comment_desciprtion">
            <label for="">Yash Kapoor</label>
           <div class="type_comment">
              <textarea name="" id="" placeholder="टिप्पणी यहाँ लिखें "></textarea>
        </div>
    </div>
    <div class="audio_record">
        <img src="./assets/images/record_ico.png" alt="">
    </div>
</div>

<div class="comment_main_listin full_container">
        <div class="comment_listing_c full_container f_Container comm_in">
                <div class="commen_pro">
                    <img src="./assets/images/comment_pro.png"/>
                </div>
                <div class="comment_desciprtion">
                    <label for="">Yash Kapoor</label>
                   <div class="type_comment">
                     <p>बहुत बढिया जवाब </p>
                </div>
            </div>
           
        </div>
        <div class="comment_listing_c full_container f_Container comm_in">
                <div class="commen_pro">
                    <img src="./assets/images/comment_pro.png"/>
                </div>
                <div class="comment_desciprtion">
                    <label for="">Yash Kapoor</label>
                   <div class="type_comment">
                     <p>बहुत बढिया जवाब </p>
                </div>
            </div>
           
        </div>
        <div class="comment_listing_c full_container f_Container comm_in">
                <div class="commen_pro">
                    <img src="./assets/images/comment_pro.png"/>
                </div>
                <div class="comment_desciprtion">
                    <label for="">Yash Kapoor</label>
                   <div class="type_comment">
                     <p>बहुत बढिया जवाब </p>
                </div>
            </div>
           
        </div>
        <div class="comment_listing_c full_container f_Container comm_in">
                <div class="commen_pro">
                    <img src="./assets/images/comment_pro.png"/>
                </div>
                <div class="comment_desciprtion">
                    <label for="">Yash Kapoor</label>
                   <div class="type_comment">
                     <p>बहुत बढिया जवाब </p>
                </div>
            </div>
           
        </div>
        <div class="comment_listing_c full_container f_Container comm_in">
                <div class="commen_pro">
                    <img src="./assets/images/comment_pro.png"/>
                </div>
                <div class="comment_desciprtion">
                    <label for="">Yash Kapoor</label>
                   <div class="type_comment">
                     <p>बहुत बढिया जवाब </p>
                </div>
            </div>
           
        </div>
</div>

