<div class="my_fac_cat">
    <label for="" class="f_caption">पसंदीदा श्रेणियाँ चुनें </label>
    <div class="fav_list full_container">
            <ul class="fav_cat_list">
                    <li>
                        <div class="list_in_con">
                                <a href="">
                                        <img src="../../assets/images/cat_img.png" alt="">
                                    </a>
                        </div>
                <label for="">कुछ अलग</label></li>
                    <li>
                            <div class="list_in_con">
                                    <a href="">
                                            <img src="../../assets/images/cat_img.png" alt="">
                                        </a>
                            </div>
                    <label for="">कुछ अलग</label> 
                    </li>
                    <li>
                            <div class="list_in_con">
                                    <a href="">
                                            <img src="../../assets/images/cat_img.png" alt="">
                                        </a>
                            </div>
                    <label for="">कुछ अलग</label>
                    </li>
                    <li>
                            <div class="list_in_con">
                                    <a href="">
                                            <img src="../../assets/images/cat_img.png" alt="">
                                        </a>
                            </div>
                    <label for="">कुछ अलग</label> 
                    </li>
                    <li>
                            <div class="list_in_con">
                                    <a href="">
                                            <img src="../../assets/images/cat_img.png" alt="">
                                        </a>
                            </div>
                    <label for="">कुछ अलग</label> 
                    </li>
                </ul>
    </div>
</div>
