<div class="relted_ques">
    <h2>सम्बंधित सवाल जवाब </h2>
    <ul class="active_list act_ques">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="related_main_ans full_container">
        <div class="related_list full_container">
            <div class="inner_q_list_con">
            <ul class="question_r_list">
                <li>
                    <a href="">
                        <label for="" class="cat_tag">#जीवन शैली </label>
                        <p class="question_hed">क्या कर्त्तव्य का पालन करना ही मनुष्य का सबसे बड़ा धर्म है?</p>
                    
                    <div class="full_container as_in_list ">
                        <div class="full_container  quest_info f_Container">
                                <div class="q_profile">
                                        <img src="./assets/images/quest_pro.png" alt="">
                                        <span class="medal_prize">
                                            <img src="./assets/images/m_prize.png" alt="">
                                        </span>
                                    </div>
                                    <div class="quest_prof_info">
                                        <label for="">Yash Kapoor</label>
                                        <span>Working at TCS</span>
                                        <div class="listen_ans full_container f_Container">
                                                <span><img src="./assets/images/quest_btn_ply.png" alt=""></span><label for="">जवाब सुनें </label>
                                            </div>
                                    </div>
                        </div>
                       
                    </div>
                </a>
                </li>
                <li>
                        <a href="">
                            <label for="" class="cat_tag">#जीवन शैली </label>
                            <p class="question_hed">क्या कर्त्तव्य का पालन करना ही मनुष्य का सबसे बड़ा धर्म है?</p>
                        
                        <div class="full_container as_in_list ">
                            <div class="full_container  quest_info f_Container">
                                    <div class="q_profile">
                                            <img src="./assets/images/quest_pro.png" alt="">
                                            <span class="medal_prize">
                                                <img src="./assets/images/m_prize.png" alt="">
                                            </span>
                                        </div>
                                        <div class="quest_prof_info">
                                            <label for="">Yash Kapoor</label>
                                            <span>Working at TCS</span>
                                            <div class="listen_ans full_container f_Container">
                                                    <span><img src="./assets/images/quest_btn_ply.png" alt=""></span><label for="">जवाब सुनें </label>
                                                </div>
                                        </div>
                            </div>
                           
                        </div>
                    </a>
                    </li>
                    <li>
                            <a href="">
                                <label for="" class="cat_tag">#जीवन शैली </label>
                                <p class="question_hed">क्या कर्त्तव्य का पालन करना ही मनुष्य का सबसे बड़ा धर्म है?</p>
                            
                            <div class="full_container as_in_list ">
                                <div class="full_container  quest_info f_Container">
                                        <div class="q_profile">
                                                <img src="./assets/images/quest_pro.png" alt="">
                                                <span class="medal_prize">
                                                    <img src="./assets/images/m_prize.png" alt="">
                                                </span>
                                            </div>
                                            <div class="quest_prof_info">
                                                <label for="">Yash Kapoor</label>
                                                <span>Working at TCS</span>
                                                <div class="listen_ans full_container f_Container">
                                                        <span><img src="./assets/images/quest_btn_ply.png" alt=""></span><label for="">जवाब सुनें </label>
                                                    </div>
                                            </div>
                                </div>
                               
                            </div>
                        </a>
                        </li>
                       
            </ul>
        </div>
        </div>
    </div>
</div>
