
<div class="main_wrapper ">
        <div class="prifile_container white_bg">
            <div class="profile_info pro_max-width">
                <div class="full_container f_Container pro_inf_con">
                    <div class="name_info">
                        <div class="f_Container full_container name_desig">
                            <div class="down_info_arro">
                                <span><img src="../../assets/images/down_arrow.png"/></span>
                            </div>
                            <div class="name_pro">
                                 <label for="">Yash Kapoor</label>
                                 <span>Working at TCS</span>

                            </div>
                        </div>
                    </div>
                    <div class="name_info">Hello</div>
                </div>
            </div>
            <p class="profile_img">
                <img src="../../assets/images/profile_image.png" alt="">
            </p>
        </div>
</div>