<div class="main_wrapper">

        <div class="full_container my_trends common-padding white_bg">
            <app-mytrends></app-mytrends>
        </div>
        <div class="main_topic">
            <app-topic></app-topic>
        </div>
        <div class="add_my_topic">
            <app-addtopic></app-addtopic>
        </div>
        <div class="main_topic">
                <app-topic></app-topic>
            </div>
            <div class="imporment_form white_bg full_container f_Container flex_between">
                <div class="txt_caption">सवाल जवाब के अनुभव को और बेहतर 
                        करने के लिए ये फॉर्म भरें </div>
                        <div class="arroc_click">
                            <a href="#"><img src="../assets/images/right-arrow.png"/></a>
                        </div>
            </div>
            <div class="main_topic">
                    <app-topic></app-topic>
                </div>
                <div class="appre_con full_congtainer f_Container white_bg">
                    <div class="con thanks_ic_con">
                        <img src="../assets/images/thanks.png"/>
                    </div>
                    <div class="con caption_txt">
                        <p class="com_txt">अगर आपको Pascolan पसंद आया
                                तो दोस्तों और फैमिली  के साथ भी शेयर करें</p>
                                <div class="share_add_con full_container f_Container">
                                    <div class="sha"><a href="">+</a></div>
                                    <div class="whtas_share"><img src="../assets/images/wp_ico.png" alt=""></div>
                                </div>
                    </div>
                </div>
                <div class="fav_category full_container white_bg">
                    <app-favcategory></app-favcategory>
                </div>
                <div class="main_topic">
                        <app-topic></app-topic>
                    </div>
    </div>