<div class="my_topic_container common-padding white_bg">
    <div class="topic_caption f_Container full_container flex_between">
        <div class="topic_in_caption"><label for="" class="topic_head"># टैकनोलजी</label></div>
        <div class="topic_in_caption"><span><img src="../../assets/images/menu_p.png"/></span></div>
    </div>
    <div class="topic_head_container f_Container full_container flex_between">
        <div><label for="" class="topic_main_head">स्पायवेयर पेगासस क्या है ?</label></div>
        <div><span><img src="../../assets/images/listen_ico.png"/></span></div>
    </div>
    <div class="topic_listing full_container f_Container">
       <div class="top_lis">
           <p class="topic_img"><img src="../../assets/images/topic_img.png"/>
            <span class="ply_btn"><img src="../../assets/images/play-button.png"/></span>
        </p>
            <label for="">Name</label>
            <p class="topic_desc">Description
                example</p>
       </div>
       <div class="top_lis">
        <p class="topic_img"><img src="../../assets/images/topic_img.png"/>
            <span class="ply_btn"><img src="../../assets/images/play-button.png"/></span>
        </p>
         <label for="">Name</label>
         <p class="topic_desc">Description
             example</p>
    </div>
    <div class="top_lis add_new_btn">
        <p class="topic_img">+</p>
         
         
    </div>
   
    </div>
</div>
